Source: unity-js-scopes
Section: libs
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: bzr,
               cmake (>= 2.8.9),
               debhelper (>= 9),
               pkg-config,
               g++,
               libboost-filesystem-dev,
               libunity-scopes-dev,
Standards-Version: 3.9.5
Homepage: https://launchpad.net/unity-js-scopes
# if you don't have have commit access to this branch but would like to upload
# directly to Ubuntu, don't worry: your changes will be merged back into the
# upstream branch
Vcs-Bzr: lp:unity-js-scopes
Vcs-Browser: https://code.launchpad.net/unity-js-scopes

Package: unity-js-scopes-bindings
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Javascript bindings to unity scopes library
 Provides a means for developers to develop Ubuntu Scopes in Javascript
 by providing bindings to the Unity Scopes API.

Package: unity-js-scopes-launcher
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${shlibs:Depends},
         unity-js-scopes-bindings (= ${binary:Version}),
Description: Scope launcher for unity javascript scopes
 Provides a means for developers to launch their Javascript Ubuntu Scopes.

Package: unity-js-scopes-tool
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Scope tool for unity javascript scopes
 Provides a means for developers to configure their Javascript Ubuntu Scopes.

Package: unity-js-scopes-examples
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${shlibs:Depends},
         unity-js-scopes-bindings (= ${binary:Version}),
Description: Examples for javascript unity scopes
 Provides a set of examples for unity scopes written in javascript.
