Source: unity-js-scopes
Section: libs
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: bzr,
               cmake (>= 2.8.9),
               debhelper (>= 9),
               g++,
               pkg-config,
               python3,
               python3-scope-harness,
               libboost-filesystem-dev,
               libunity-scopes-dev,
Standards-Version: 3.9.5
Homepage: https://launchpad.net/unity-js-scopes
# if you don't have have commit access to this branch but would like to upload
# directly to Ubuntu, don't worry: your changes will be merged back into the
# upstream branch
Vcs-Bzr: lp:unity-js-scopes
Vcs-Browser: https://code.launchpad.net/unity-js-scopes

Package: unity-js-scopes-bindings
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: JavaScript bindings to Unity Scopes API
 Provides a means for developers to develop Ubuntu Scopes in JavaScript
 by providing bindings to the Unity Scopes API.

Package: unity-js-scopes-launcher
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${shlibs:Depends},
         unity-js-scopes-bindings (= ${binary:Version}),
Description: Scope launcher for Unity JavaScript Scopes
 Provides a means for developers to launch their JavaScript Ubuntu Scopes.

Package: unity-js-scopes-tool
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${shlibs:Depends},
         unity-js-scopes-bindings (= ${binary:Version}),
         unity-js-scopes-launcher (= ${binary:Version}),
Description: Scope tool for Unity JavaScript Scopes
 Provides a means for developers to configure their JavaScript Ubuntu Scopes.

Package: unity-js-scopes-dev
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${shlibs:Depends},
         unity-js-scopes-bindings (= ${binary:Version}),
         unity-js-scopes-launcher (= ${binary:Version}),
         unity-js-scopes-tool (= ${binary:Version}),
Description: Development files for Unity JavaScript Scopes
 Provides a set of Qt Creator templates and examples for Ubuntu Scopes
 written in JavaScript.

Package: unity-js-scopes-doc
Section: doc
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends},
         unity-js-scopes-bindings (= ${binary:Version}),
Description: Documentation for javascript unity scopes
 Provides the documenttaion for unity scopes javascript API.
